.about-page {
  padding: 50px;
  max-width: 800px;
  margin: auto;
  text-align: center;
  background-color: #f9fafb;
  border-radius: 10px;
}

.about-page h2 {
  font-size: 32px;
  color: #111827;
  margin-bottom: 20px;
}

.about-page p {
  font-size: 18px;
  color: #374151;
  margin-bottom: 10px;
}
